[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"


[requires]
python_version = "3.7"